html {
    background: #1ab9b9;
}

body {
    background: #bcb8b8;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #1414ed;
    font-style: oblique;
    font-size: 32px;
    line-height: 1.5;
    margin: 55px;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #0d0c0c;
    font-weight: 600;
    line-height: 1.8;
}

h2 {
    margin-top: 1.8em;
}

a {
    color: #f0771d;
}

b, strong {
    font-weight: 1200;
}